.setting {
  width: 280px;
  height: 256px;
  background-color: $White;
  border-radius: 10px;
  padding: 30px 20px;
  color: $Black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .icons {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    .profileImg {
      width: 30px;
      height: 30px;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 100%;
      background-size: 50px;
      background-image: url("https://i.pinimg.com/originals/47/58/95/475895044da324fbb8bfe11024b07854.jpg");
    }

    h1 {
      text-transform: capitalize;
      padding-left: 10px;
      font-size: 0.6em;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bolder;
      line-break: loose;
    }
  }
}
