@import "../colors/rgb";
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 71px;
  background-color: $Black;
  color: $White;
  .logo {
    position: relative;
    line-height: 1.5cm;
    z-index: 999;
    top: 50px;

    .clipPath {
      position: absolute;
      clip-path: polygon(100% 0%, 75% 100%, 0% 100%, 0% 0%);
      background-color: $Black;
      width: 424px;
      height: 149px;
      z-index: -1;
    }
    .header {
      z-index: 1;
      width: 424px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 149px;

      h1 {
        font-size: 4.5rem;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        position: relative;
        right: 2cm;
        .shop {
          font-size: 3rem;
          position: relative;
          left: 3cm;
        }
      }
    }
  }
  .search {
    display: flex;
    align-items: center;
    width: 1200px;
    height: 50px;
    background-color: $orange;
    border-radius: 50px;
    input {
      outline: none;
      position: relative;
      left: 20px;
      width: 700px;
      height: 50px;
      background-color: transparent;
      color: $White;
      font-size: large;
      font-weight: bolder;
    }
    ::placeholder {
      color: $White;
    }
  }
  .nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 700px;
    text-transform: uppercase;
    .profile {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 220px;
    }
    .info {
      font-weight: bolder;
      font-size: 0.8em;
      line-height: 0.5cm;
      position: relative;
      top: 0%;
      padding: 0%;
      margin: 0%;
      .intro {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      h1 {
        font-size: 2em;
      }
    }
    .languages {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5em;
      font-weight: bolder;
      width: 200px;
    }
  }
}
